# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies

backend/node_modules
frontend/node_modules

# env files
.env
backend/.env
frontend/.env

# build
frontend/dist
frontend/build

# misc
.DS_Store